# 词频统计

In [1]:
import pandas as pd

In [2]:
str_context = "今天天气很好，明天天气怎样就不知道了！".decode('utf-8')
str = []
for i in str_context:
    str = str + [i]
    
df1 = pd.DataFrame({"col1":str})
df1['col2'] = 1
df1

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>今</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>天</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>天</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>气</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>很</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>好</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>，</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>明</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>天</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>天</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>气</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>怎</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>样</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>就</td>
      <td>1</td>
    </tr>
    <tr>
      <th>14</th>
      <td>不</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <td>知</td>
      <td>1</td>
    </tr>
    <tr>
      <th>16</th>
      <td>道</td>
      <td>1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>了</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>！</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
df2 = df1.groupby('col1').agg(sum)
df2

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col2</th>
    </tr>
    <tr>
      <th>col1</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>不</th>
      <td>1</td>
    </tr>
    <tr>
      <th>了</th>
      <td>1</td>
    </tr>
    <tr>
      <th>今</th>
      <td>1</td>
    </tr>
    <tr>
      <th>天</th>
      <td>4</td>
    </tr>
    <tr>
      <th>好</th>
      <td>1</td>
    </tr>
    <tr>
      <th>就</th>
      <td>1</td>
    </tr>
    <tr>
      <th>很</th>
      <td>1</td>
    </tr>
    <tr>
      <th>怎</th>
      <td>1</td>
    </tr>
    <tr>
      <th>明</th>
      <td>1</td>
    </tr>
    <tr>
      <th>样</th>
      <td>1</td>
    </tr>
    <tr>
      <th>气</th>
      <td>2</td>
    </tr>
    <tr>
      <th>知</th>
      <td>1</td>
    </tr>
    <tr>
      <th>道</th>
      <td>1</td>
    </tr>
    <tr>
      <th>！</th>
      <td>1</td>
    </tr>
    <tr>
      <th>，</th>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
df2 = df2.sort_values(by = 'col2',axis = 0,ascending = False)
df2

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col2</th>
    </tr>
    <tr>
      <th>col1</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>天</th>
      <td>4</td>
    </tr>
    <tr>
      <th>气</th>
      <td>2</td>
    </tr>
    <tr>
      <th>不</th>
      <td>1</td>
    </tr>
    <tr>
      <th>了</th>
      <td>1</td>
    </tr>
    <tr>
      <th>今</th>
      <td>1</td>
    </tr>
    <tr>
      <th>好</th>
      <td>1</td>
    </tr>
    <tr>
      <th>就</th>
      <td>1</td>
    </tr>
    <tr>
      <th>很</th>
      <td>1</td>
    </tr>
    <tr>
      <th>怎</th>
      <td>1</td>
    </tr>
    <tr>
      <th>明</th>
      <td>1</td>
    </tr>
    <tr>
      <th>样</th>
      <td>1</td>
    </tr>
    <tr>
      <th>知</th>
      <td>1</td>
    </tr>
    <tr>
      <th>道</th>
      <td>1</td>
    </tr>
    <tr>
      <th>！</th>
      <td>1</td>
    </tr>
    <tr>
      <th>，</th>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
df3 = df2[df2.col2 >= 2]
df3

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col2</th>
    </tr>
    <tr>
      <th>col1</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>天</th>
      <td>4</td>
    </tr>
    <tr>
      <th>气</th>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
df3.columns

Index([u'col2', u'col3'], dtype='object')

In [34]:
df3.columns.tolist()

['col2']

In [31]:
df3.index

Index([u'天', u'气'], dtype='object', name=u'col1')

In [35]:
df3.index.tolist()

[u'\u5929', u'\u6c14']

In [46]:
list(df3.index)

[u'\u5929', u'\u6c14']

ValueError: Length of new names must be 1, got 0

In [41]:
df3['col3'] = df3.index.tolist()
df3 = df3[['col3','col2']]
df3

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col3</th>
      <th>col2</th>
    </tr>
    <tr>
      <th>col1</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>天</th>
      <td>天</td>
      <td>4</td>
    </tr>
    <tr>
      <th>气</th>
      <td>气</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [29]:
df3.axes

[Index([u'天', u'气'], dtype='object', name=u'col1'),
 Index([u'col2', u'col3'], dtype='object')]

In [43]:
df3.columns = ['word', 'number']
df3

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>word</th>
      <th>number</th>
    </tr>
    <tr>
      <th>col1</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>天</th>
      <td>天</td>
      <td>4</td>
    </tr>
    <tr>
      <th>气</th>
      <td>气</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [42]:
df3.to_csv('/Users/sunlu/Workspaces/PyCharm/PythonDiary/data/out2.csv',
           encoding = 'utf-8', index=False,header=False)

In [17]:
str_context = "今天天气很好，明天天气怎样就不知道了！".decode('utf-8')
str = ""
for i in str_context:
    str = str + ' ' + i

def wordcount(str):
    # 文章字符串前期处理
    strl_ist = str.replace('\n', '').lower().split(' ')
    count_dict = {}
    # 如果字典里有该单词则加1，否则添加入字典
    for str in strl_ist:
        if str in count_dict.keys():
            count_dict[str] = count_dict[str] + 1
        else:
            count_dict[str] = 1
    #按照词频从高到低排列
    count_list=sorted(count_dict.iteritems(),key=lambda x:x[1],reverse=True)
    return count_list
print wordcount(str)

for i in wordcount(str):
    print i

[(u'\u5929', 4), (u'\u6c14', 2), (u'', 1), (u'\uff01', 1), (u'\u77e5', 1), (u'\u4e86', 1), (u'\u5f88', 1), (u'\u4eca', 1), (u'\u4e0d', 1), (u'\uff0c', 1), (u'\u660e', 1), (u'\u5c31', 1), (u'\u9053', 1), (u'\u6837', 1), (u'\u600e', 1), (u'\u597d', 1)]
(u'\u5929', 4)
(u'\u6c14', 2)
(u'', 1)
(u'\uff01', 1)
(u'\u77e5', 1)
(u'\u4e86', 1)
(u'\u5f88', 1)
(u'\u4eca', 1)
(u'\u4e0d', 1)
(u'\uff0c', 1)
(u'\u660e', 1)
(u'\u5c31', 1)
(u'\u9053', 1)
(u'\u6837', 1)
(u'\u600e', 1)
(u'\u597d', 1)